*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #919191;
    font-size: 18px;
}
h2{
    color: #566366;
}
.wrapper{
    position: relative;
}
.wrapper .bg{
    width: 100%;
    height: 100vh;
    background-image: url(../image/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.wrapper h1{
    width: 864px;
    height: 81px;
    color: #fff;
    font-size: 69px;
    font-weight: 700;
    position: absolute;
    top: calc(50% - 128px);
    left: calc(50% - 459px);
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
}
.wrapper .btn{
    position: absolute;
    color: #fff;
    border: 2px solid #fff;
    padding: 22px 38px;
    cursor: pointer;
    transition: .4s;
    bottom: calc( 50% - 130px);
    left: calc(50% - 90px);
}
.wrapper .btn:hover{
    color: rgb(0, 0, 0);
    border: 2px solid #fff;
    background-color: #fff;
}

.logo{
    background-image: url(../image/logo.png);
    height: 42px;
    width: 150px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}
header{
    background-color: #252e30;
}
menu ul{
    display: flex;
}
ul li{
    color: #fff;
    list-style-type: none;
    text-transform: uppercase;
    padding: 28px 0 28px 40px;

    transition: .4s;
}
ul li:hover{
    color: #2dba6a;
    cursor: pointer;
}

.wrapp{
    display: flex;
    justify-content: space-between;
    padding-top: 99px;
    padding-bottom: 96px;
}
.wrap h2{
    margin-bottom: 48px;
    font-size: 30px;
}
.wrap p{
    font-weight: 400;
}
.about_text{
    background-color: #f2f2f1;
    padding-right: calc((100% - 1400px) / 2);
}
.about_text .descrip{
    padding-left: 100px;
    margin-bottom: 60px;
}
.about_title{
    /* padding-top: 100px;
    padding-bottom: 48px; */
    padding: 80px 0 48px 100px;
}
.about{
    display: flex;
}
.photo_about img{
    width: 612px;
    height: 724px;
}
.skil{
    padding-left: 100px;
    padding-bottom: 93px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.skil_item{
    display: flex;
    width: 50%;
}
.skil_item .web{
    background-image: url(../image/about/icon/web.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 27px;
    height: 41px;
    width: 41px;
}
.skil_item .graphic{
    background-image: url(../image/about/icon/graphic.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 27px;
    height: 41px;
    width: 41px;
}
.skil_item .marketing{
    background-image: url(../image/about/icon/marketing.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 27px;
    height: 41px;
    width: 41px;
}
.skil_item .seo{
    background-image: url(../image/about/icon/seo.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 27px;
    height: 41px;
    width: 41px;
}
.skil_text h3{
    padding-bottom: 21px;
}
.skil_text p{
    padding-bottom: 56px;
}