*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #919191;
    font-size: 18px;
}
h2{
    color: #566366;
}
.wrapper{
    position: relative;
}
.wrapper .bg{
    width: 100%;
    height: 100vh;
    background-image: url(../image/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.wrapper h1{
    width: 864px;
    height: 81px;
    color: #fff;
    font-size: 69px;
    font-weight: 700;
    position: absolute;
    top: calc(50% - 128px);
    left: calc(50% - 459px);
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
}
.wrapper .btn{
    position: absolute;
    color: #fff;
    border: 2px solid #fff;
    padding: 22px 38px;
    cursor: pointer;
    transition: .4s;
    bottom: calc( 50% - 130px);
    left: calc(50% - 90px);
}
.wrapper .btn:hover{
    color: rgb(0, 0, 0);
    border: 2px solid #fff;
    background-color: #fff;
}

.logo{
    background-image: url(../image/logo.png);
    height: 42px;
    width: 150px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}
header{
    background-color: #252e30;
}
menu ul{
    display: flex;
}
ul li{
    color: #fff;
    list-style-type: none;
    text-transform: uppercase;
    padding: 28px 0 28px 40px;

    transition: .4s;
}
ul li:hover{
    color: #2dba6a;
    cursor: pointer;
}

.wrapp{
    display: flex;
    justify-content: space-between;
    padding-top: 99px;
    padding-bottom: 96px;
}
.wrap h2{
    margin-bottom: 48px;
    font-size: 30px;
}
.wrap p{
    font-weight: 400;
}
.about_text{
    background-color: #f2f2f1;
    padding-left: 150px;
    padding-right: 300px;
}
.about_text .descrip{
    padding-left: 50px;
    margin-bottom: 60px;
}
.about_title{
    padding: 80px 0 48px 50px;
}
.about{
    display: flex;
    height: 724px;
}
.photo_about img{
    width: 612px;
    height: 724px;
}
.skil{
    padding-left: 50px;
    padding-bottom: 93px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.skil_item{
    display: flex;
    width: 50%;
}
.skil_item .web{
    background-image: url(../image/about/icon/web.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 27px;
    height: 41px;
    width: 41px;
}
.skil_item .graphic{
    background-image: url(../image/about/icon/graphic.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 27px;
    height: 41px;
    width: 41px;
}
.skil_item .marketing{
    background-image: url(../image/about/icon/marketing.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 27px;
    height: 41px;
    width: 41px;
}
.skil_item .seo{
    background-image: url(../image/about/icon/seo.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 27px;
    height: 41px;
    width: 41px;
}
.skil_text h3{
    padding-bottom: 21px;
    color: #566366;
}
.skil_text p{
    padding-bottom: 56px;
}
.contact_me{
    color: #2ecc71;
    border: 2px solid #2ecc71;
    padding: 20px 38px;
    cursor: pointer;
    transition: .4s;
}
.contact_me:hover{
    color: #fff;
    border: 2px solid #2ecc71;
    background-color: #2ecc71;
}
.skill h2{
    margin-top: 100px;
    margin-bottom: 48px;
}
.skill p{
    width: 700px;
    margin-bottom: 46px;
}
.soft_skill{
    width: 700px;
    margin-top: 100px;
    margin-left: 80px;
}
.soft_skill .skills{
    padding-top: 25px;
    padding-bottom: 50px;
}
.skills .name{
    padding-bottom: 19px;
}
progress{
    margin-top: 19px;
    background-color: #3aff8c;
    width: 550px;
    height: 30px;
}
progress::-webkit-progress-bar {
    background-color: #f2f2f1;
}
progress::-webkit-progress-value {
    background-color: #3aff8c;
}
.soft_skill .photoshop{
    margin-top: 136px;
}
.soft_skill div{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    width: 129px;
    height: 17px;
    color: #566366;
    text-transform: uppercase;
}
.soft_skill:nth-last-child(1){
    margin-bottom: 100px;
}
/* 
progress {
    -webkit-appearance: none;
  }
  
  ::-webkit-progress-bar {
    background-color: blue;
  }
  
  ::-webkit-progress-value {
    background-color: green;
  } */
.summary{
    background-color: #f2f2f1;
}
.summary .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary .container h2{
    font-size: 30px;
    margin-top: 100px;
}
.summary .container p{
    text-align: center;
    margin: 50px 75px;
}
.container .download{
    color: #2ecc71;
    border: 2px solid #2ecc71;
    padding: 20px 38px;
    cursor: pointer;
    transition: .4s;
    margin-bottom: 100px;
}
.container .download:hover{
    color: #fff;
    border: 2px solid #2ecc71;
    background-color: #2ecc71;
}